@import '/src/variables.global.scss';


.headline {
	margin-top: 4rem;
	margin-left: 0.25rem;
}


.type {
	background-color: $text-color;
	color: $text-color-alt;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 0.25rem 1.5rem;
	margin: 0.35rem;
	border-radius: 18px;
}


.element {
	.list {
		border-radius: 20px;
		background-color: $text-color;
		color: $text-color-alt;
		padding: 2rem;
		list-style: decimal-leading-zero;
		li {
			margin-bottom: 0.5rem;
			margin-left: 2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

	}
}